@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #0a0f0d;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  position: relative;
  height: 39.5vh;
  border-bottom: 7px solid #eee;
}

.heading {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.pos {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 3rem;
  align-items: center;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
}

.again {
  align-self: flex-start;
  margin-left: 2rem;
}

.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: 15rem;
  padding: 2rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.leaderBoard {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  justify-content: space-evenly;
  gap: 1.5rem;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.msgPos {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  gap: 3rem;
  align-items: center;
}

.message {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 2rem;
  line-height: 2.4rem;
}

.inputPos {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 3.5rem;
  padding: 1rem 1.5rem;
  width: 15rem;
  text-align: center;
}

.check {
  padding: 1.2rem;
  font-size: 1.3rem;
}

@media screen and (min-width: 425px) {
  .heading {
    font-size: 2.3rem;
  }

  .pos {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.3rem;
    padding: 1.5rem;
  }

  .number {
    padding: 2rem 1rem;
    font-size: 5rem;
  }

  .leaderBoard {
    flex-direction: row;
    margin-top: 8rem;
    padding-left: 0;
    font-size: 1.3rem;
  }

  .msgPos {
    margin-top: 4rem;
    gap: 4rem;
  }

  .message {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .inputPos {
    flex-direction: row;
    gap: 3rem;
  }

  .guess {
    padding: 1.5rem 2rem;
    width: 18rem;
  }

  .check {
    padding: 1.6rem;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-bottom: 2rem;
  }
  .heading {
    font-size: 4.2rem;
    margin-top: 5rem;
  }

  .pos {
    margin-top: 2rem;
    font-size: 2rem;
    gap: 2rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 2rem;
    outline: none;
  }

  .again {
    margin-left: 3rem;
    margin-bottom: 5rem;
  }

  .number {
    padding: 2rem 1.5rem;
    font-size: 6rem;
  }

  .leaderBoard {
    margin-top: 9rem;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 0 1rem;
  }

  .msgPos {
    margin: 5rem 0;
  }

  .message {
    font-size: 3rem;
    line-height: 4rem;
  }

  .inputPos {
    gap: 6rem;
  }

  .guess {
    padding: 2rem 2.5rem;
    font-size: 4.5rem;
    width: 20rem;
  }

  .check {
    padding: 2rem;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 59vh;
    margin-top: 10rem;
  }

  .heading {
    font-size: 5.7rem;
    margin-top: 15rem;
  }

  .pos {
    margin-top: 3rem;
    font-size: 3rem;
  }

  .btn {
    font-size: 2rem;
    padding: 3rem;
  }

  .again {
    margin-left: 4rem;
  }

  .number {
    padding: 2.5rem 1.5rem;
    font-size: 6rem;
  }

  .leaderBoard {
    margin-top: 10rem;
    font-size: 3rem;
  }

  .msgPos {
    margin: 6rem 0;
    gap: 5rem;
  }

  .message {
    font-size: 4rem;
    line-height: 5rem;
  }

  .inputPos {
    gap: 8rem;
  }

  .guess {
    font-size: 5rem;
    padding: 3rem 3.5rem;
    width: 22rem;
  }

  .check {
    padding: 3rem 2.5rem;
    font-size: 3rem;
  }
}
